<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Basic Website</title>
</head>

<body>
  <header>
    <h1>My Basic Website</h1>
  </header>

  <nav>
    <ul>
      <li><a href="http://localhost:3000">Home</a></li>
      <li><a href="http://localhost:3000/rolldie">RollDie</a></li>
      <li><a href="http://localhost:3000/warhammer">Warhammer</a></li>
      <li><a href="http://localhost:3000/jokes">Jokes</a></li>
    </ul>
  </nav>

  <section>
    <h2>Jokes Section</h2>
    <p>This is the jokes section, here's some jokes!</p>
    <% for (let element of jokes){%>
    <h3><%= element.body %></h3>
    <p><%= element.author %></p>
    <% } %>
  </section>
</body>

</html>