<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Basic Website</title>
</head>

<body>
  <header>
    <h1>My Basic Website</h1>
  </header>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/rolldie">RollDie</a></li>
      <li><a href="/warhammer">Warhammer</a></li>
      <li><a href="/jokes">Jokes</a></li>
    </ul>
  </nav>

  <section>
    <h2>Warhammer Section</h2>
    <p>This is the warhammer Section. The factions in Warhammer 40k are:</p>
    <% for (let element of factions){%>
    <h3><%= element.name %></h3>
    <p><%= element.description %></p>
    <img src="<%= element.imageUrl %>" width="300" />
    <% } %>
  </section>
</body>

</html>